.right-container {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: fixed;
    height: calc(100% - 60px);
    inset-block: 60px;
    margin-right: 16px;
    width: -webkit-fill-available;
    .ant-layout-sider {
        .ant-layout-sider-children {
            border-right: 3px solid #efefef;
            padding-left: 0px;

            .ant-pro-sider-extra {
                margin-top: 0px !important;
                margin-left: 0px !important;
                margin-right: 0px !important;
            }

            .ant-pro-sider-footer {
                padding-bottom: 0px !important;
            }

            .ant-menu-item {
                padding: 0px !important;
            }
        }
    }
    .ant-layout-has-sider {
        height: calc(100% - 48px);
    }
}
